<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>错误页面</title>
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/libs/mwt/4.0/mwt.min.css">
  <style>
    * {font-size:15px;font-family:-apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif}
  </style>
</head>
<body>
</head>
<body>
  <div style="margin:0 auto;width:800px;text-align:center;">
    <div style="width:100%;padding:40px 0;color:#FF5722">
      <i class="icon icon-report" style="font-size:60px;"></i><br><br>
      {$msg}<br><br><br><br>
      <button onclick="window.location.reload();" class="mwt-btn mwt-btn-default mwt-btn-sm">点击刷新页面</button>
    </div>
  </div>
</body>
</html>
